@(creationProject: cn.edu.sdu.sc.spepms.system.creation.projects.models.CreationProject, currentUser: cn.edu.sdu.sc.spepms.system.common.models.User)

@layouts.basicLayout {

<div class="page-header">
    <h1>项目基本信息填写</h1>
</div>

} {

<!-- Place this in the body of the page content -->
<form class="form-horizontal" method="post" role="form" action="@cn.edu.sdu.sc.spepms.system.creation.projects.controllers.routes.ProjectsController.reSave(creationProject.getId)">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="CreationProject">项目名称</label>
        <div class="col-sm-9">
            <input class="col-xs-10 col-sm-5" type="text" name="name" value="@creationProject.getName">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="CreationProject">项目类别</label>
        <div class="col-sm-9">
            <select name="category" class="col-xs-10 col-sm-5" id="CreationProject" value="@creationProject.getCategory">
                <option>竞赛</option>
                <option>教师科研</option>
                <option>个人兴趣</option>
                <option>外部合作</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="CreationProject">性质</label>
        <div class="col-sm-9">
            <select name="billable" class="col-xs-10 col-sm-5" id="CreationProject" value="@creationProject.getBillable">
                <option>有报酬</option>
                <option>无报酬</option>
            </select>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="CreationProject">报酬形式及额度</label>
        <div class="col-sm-9">
            <select name="rewardMethod" class="col-xs-10 col-sm-5" id="CreationProject" value="@creationProject.getRewardMethod">
                <option>现金</option>
                <option>网上转帐</option>
                <option>其他</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="CreationProject">现金额度</label>
        <div class="col-sm-9">
            <input class="col-xs-10 col-sm-5" type="number" name="rewardAmount" value="@creationProject.getRewardAmount"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="CreationProject">项目需求介绍</label>
        <div class="col-sm-9">
            <textarea class="col-xs-10 col-sm-5" name="description">@creationProject.getDescription</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="CreationProject">起止时间</label>
        <div class="col-sm-9 input-daterange">
            <input type="text" class="col-xs-5 col-sm-2" name="applicableFrom" value="@creationProject.getApplicableFrom"/>
            <span class="col-sm-1">&nbsp; &nbsp;&nbsp; &nbsp;至</span>
            <input type="text" class="col-xs-5 col-sm-2" name="applicableTo" value="@creationProject.getApplicableTo"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="CreationProject">联系咨询方式</label>
        <div class="col-sm-9">
            <textarea class="col-xs-10 col-sm-5" name="contactInfo">@creationProject.getContactInfo</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="CreationProject">人数限制</label>
        <div class="col-sm-9">
            <input class="input-normal" type="number" name="number" value="@creationProject.getNumber">
        </div>
    </div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="ace-icon fa fa-check bigger-110"></i>
                保存
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                重置
            </button>
        </div>
    </div>
</form>

} {
<script type="text/javascript">
    $('.input-daterange').datepicker({autoclose:true});

</script>
}
