@() @layouts.basicLayout {

<div class="page-header">
    <h1>实验室基本信息</h1>
</div>

} {
<div class="row">
    <!-- #section:pages/pricing.large -->
    <div class="col-xs-6 col-sm-3 pricing-box">
        <div class="widget-box widget-color-blue">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter">创新实验室</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <ul class="list-unstyled spaced2">
                        <li>负责人：张俊华、高睿扬</li>

                        <li>成员人数：30人</li>

                        <li>近期比赛：齐鲁软件大赛</li>

                        <li>拥有机位：12</li>

                        <li>获得奖项：</li>

                        <li>Inter杯三等（1）、齐鲁二等（1）、三等（2）</li>
                    </ul>
                </div>
                <div>
                    <a href="@cn.edu.sdu.sc.spepms.system.creation.labs.controllers.routes.LabsController.view()" class="btn btn-block btn-primary"> <i class="ace-icon fa fa-shopping-cart bigger-110"></i> <span>进入</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 pricing-box">
        <div class="widget-box widget-color-blue">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter">嵌入式实验室</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <ul class="list-unstyled spaced2">
                        <li>负责人：陈洪波、高翔</li>

                        <li>成员人数：10人</li>

                        <li>近期比赛：Inter杯</li>

                        <li>拥有机位：15</li>

                        <li>获得奖项：</li>

                        <li>Inter杯二等（1）、齐鲁特等（1）、二等（2）</li>
                    </ul>
                </div>
                <div>
                    <a href="#" class="btn btn-block btn-primary"> <i class="ace-icon fa fa-shopping-cart bigger-110"></i> <span>进入</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 pricing-box">
        <div class="widget-box widget-color-blue">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter">OUT实验室</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <ul class="list-unstyled spaced2">
                        <li>负责人：李建伟</li>

                        <li>成员人数：30人</li>

                        <li>近期项目：图书馆微信平台</li>

                        <li>拥有机位：40</li>

                        <li>获得奖项：</li>

                        <li>农产品加工分类系统</li>
                    </ul>
                </div>
                <div>
                    <a href="#" class="btn btn-block btn-primary"> <i class="ace-icon fa fa-shopping-cart bigger-110"></i> <span>进入</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


} { }
