@()

@layouts.basicLayout {

<div class="page-header">
    <h1>创新实验室基本信息</h1>
</div>
}{
<div class="row">
    <!-- #section:pages/pricing.large -->
    <div class="col-xs-6 col-sm-3 pricing-box">
        <div class="widget-box widget-color-blue">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter">创新实验室</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <ul class="list-unstyled spaced2">
                        <li>姓名：张俊华</li>

                        <li>学号：201200301111</li>

                        <li>机位：101</li>

                        <li>近期比赛：大学生创新大赛</li>

                        <li>身份:实验室负责人</li>

                        <li>获得奖项：齐鲁软件大赛三等奖、ACM校赛二等奖</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 pricing-box">
        <div class="widget-box widget-color-blue">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter">创新实验室</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <ul class="list-unstyled spaced2">
                        <li>姓名：叶炜斌</li>

                        <li>学号：201100301111</li>

                        <li>机位：102</li>

                        <li>近期比赛：无</li>

                        <li>身份:实验室成员</li>

                        <li>获得奖项：inter杯三等奖、齐鲁软件大赛二等奖</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

} {
}
