@(creationProjects: List[cn.edu.sdu.sc.spepms.system.creation.models.CreationProject])

@layouts.basicLayout() {

<div class="page-header">
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">未审核的项目</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li>山东气象应用网格</li>
            <li>MM5模式预报产品开发和网络分发研究、MM5模式资料预处理系统开发</li>
            <li>山东大学校园网格和海量数据处理应用网格</li>
            <li>山东大学研究生学位管理和培养管理系统</li>
            <li>山东大学软件学院综合教务管理信息系统</li> 
            @for(creationProject <- creationProjects) { 
                <!-- show unpass the projects -->
                @if(!creationProject.getPassed){
                    <li><a href="@cn.edu.sdu.sc.spepms.system.creation.controllers.project.routes.ProjectController.details(creationProject.getId)">@creationProject.getName</a></li> 
                }
            }
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">我的团队</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li>山东气象应用网格</li>
            <li>MM5模式预报产品开发和网络分发研究、MM5模式资料预处理系统开发</li>
            <li>山东大学校园网格和海量数据处理应用网格</li>
            <li>山东大学研究生学位管理和培养管理系统</li>
            <li>山东大学软件学院综合教务管理信息系统</li>
        </ul>
    </div>
</div>

} {

}
