@(creationProject: cn.edu.sdu.sc.spepms.system.creation.models.CreationProject) 

@layouts.basicLayout {

<div class="btn-group pull-right">
    <button type="button" class="btn btn-default btn-lg btn-pass"
        onClick="location.href='@cn.edu.sdu.sc.spepms.system.creation.controllers.project.routes.ProjectController.pass(creationProject.getId)';">
        <span class="glyphicon glyphicon-ok"></span>审核通过
    </button>
    <button type="button" class="btn btn-default btn-lg ">
        <span class="glyphicon glyphicon-remove"></span>审核失败
    </button>
    <button type="button" class="btn btn-default btn-lg ">
        <span class="glyphicon glyphicon-heart"></span>我要报名
    </button>
</div>

<div class="page-header">
    <h1>
        <span class="label label-default">项目概观
    </h1>
</div>

} {

<!-- Place this in the body of the page content -->
<form method="post" role="form">
    <label for="CreationProject"><h1>
            <span class="label label-default">项目名称</span>
        </h1></label>
    <ul>
        <h3>@creationProject.getName</h3>
    </ul>
    <label for="articleType"><h1>
            <span class="label label-default">项目类别
        </h1></label>
    <ul>
        <h3>@creationProject.getBillable</h3>
    </ul>

    <label for="CreationProject"><h1>
            <span class="label label-default">性质
        </h1></label>
    <ul>
        <h3>@creationProject.getCategory</h3>
    </ul>

    <label for="CreationProject"><h1>
            <span class="label label-default">额度
        </h1></label>
    <ul>
        <h3>@creationProject.getRewardAmount</h3>
    </ul>

    <label for="CreationProject"><h1>
            <span class="label label-default">项目需求介绍
        </h1></label>
    <ul>
        <h3>@creationProject.getDescription</h3>
    </ul>

    <label for="CreationProject"><h1>
            <span class="label label-default">时间范围
        </h1></label>
    <ul>
        <h3>@creationProject.getApplicableTo</h3>
    </ul>

    <label for="CreationProject"><h1>
            <span class="label label-default">联系咨询方式
        </h1></label>
    <ul>
        <h3>@creationProject.getContactInfo</h3>
    </ul>

    <label for="CreationProject"><h1>
            <span class="label label-default">报考人数限制
        </h1></label>
    <ul>
        <h3>@creationProject.getNumber</h3>
    </ul>
</form>

} {

<script>
        $('.btn-pass').click(function() {
            alert("操作成功");
        });
</script>

}
