@(creationProject: cn.edu.sdu.sc.spepms.system.creation.models.CreationProject,currentUser: cn.edu.sdu.sc.spepms.system.common.models.User) 

@import cn.edu.sdu.sc.spepms.system.creation.models.CreationProject

@layouts.basicLayout {

<div class="btn-group pull-right">
    <button type="button" class="btn btn-primary btn-lg btn-pass"
        onClick="location.href='@cn.edu.sdu.sc.spepms.system.creation.controllers.project.routes.ProjectController.pass(creationProject.getId)';">
        <span class="glyphicon glyphicon-ok"></span>审核通过
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-unpass"
        onClick="location.href='@cn.edu.sdu.sc.spepms.system.creation.controllers.project.routes.ProjectController.unPass(creationProject.getId)';">
        <span class="glyphicon glyphicon-remove"></span>审核失败
    </button>
    @if(creationProject.getStatus==CreationProject.Status.NEW){
    <button type="button" class="btn btn-primary btn-lg btn-join"
        onClick="location.href='@cn.edu.sdu.sc.spepms.system.creation.controllers.project.routes.ProjectController.toCheck(creationProject.getId)';">
        <span class="glyphicon glyphicon-heart"></span>提交审核
    </button>
    }
    @if(!creationProject.getMembers().contains(currentUser)){
        @if(creationProject.getCurrentNumber < creationProject.getMembers().size){
    <button type="button" class="btn btn-primary btn-lg btn-join"
        onClick="location.href='@cn.edu.sdu.sc.spepms.system.creation.controllers.project.routes.ProjectController.join(creationProject.getId)';">
        <span class="glyphicon glyphicon-heart"></span>接受挑战
    </button>
    }
    }else{
    <button type="button" class="btn btn-primary btn-lg btn-cancelJoin"
        onClick="location.href='@cn.edu.sdu.sc.spepms.system.creation.controllers.project.routes.ProjectController.delete(creationProject.getId)';">
        <span class="glyphicon glyphicon-heart"></span>黯然离去
    </button>
    }
    
</div>

<div class="page-header">
    <h1>项目概观</h1>
</div>
} {

<!-- Place this in the body of the page content -->
<form method="post" role="form">
    <div id="accordion" class="accordion-style1 panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <i class="ace-icon fa fa-angle-down bigger-110"
                        data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> &nbsp;项目名称
                    </a>
                </h2>
            </div>

            <div class="panel-collapse collapse in" id="collapseOne">
                <div class="panel-body">@creationProject.getName</div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> <i class="ace-icon fa fa-angle-down bigger-110"
                        data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> &nbsp;项目类别
                    </a>
                </h2>
            </div>

            <div class="panel-collapse collapse in" id="collapseTwo">
                <div class="panel-body">@creationProject.getBillable</div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> <i class="ace-icon fa fa-angle-down bigger-110"
                        data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> &nbsp;性质
                    </a>
                </h2>
            </div>

            <div class="panel-collapse collapse in" id="collapseThree">
                <div class="panel-body">@creationProject.getCategory</div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"> <i class="ace-icon fa fa-angle-down bigger-110"
                        data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> &nbsp;额度
                    </a>
                </h2>
            </div>

            <div class="panel-collapse collapse in" id="collapseFour">
                <div class="panel-body">@creationProject.getRewardAmount</div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"> <i class="ace-icon fa fa-angle-down bigger-110"
                        data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> &nbsp;项目需求介绍
                    </a>
                </h2>
            </div>

            <div class="panel-collapse collapse in" id="collapseFive">
                <div class="panel-body">@creationProject.getDescription</div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"> <i class="ace-icon fa fa-angle-down bigger-110"
                        data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> &nbsp;时间范围
                    </a>
                </h2>
            </div>

            <div class="panel-collapse collapse in" id="collapseSix">
                <div class="panel-body">@creationProject.getApplicableTo</div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"> <i class="ace-icon fa fa-angle-down bigger-110"
                        data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> &nbsp;联系咨询方式
                    </a>
                </h2>
            </div>

            <div class="panel-collapse collapse in" id="collapseSeven">
                <div class="panel-body">@creationProject.getContactInfo</div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight"> <i class="ace-icon fa fa-angle-down bigger-110"
                        data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> &nbsp;报考人数限制
                    </a>
                </h2>
            </div>

            <div class="panel-collapse collapse in" id="collapseEight">
                <div class="panel-body">@creationProject.getNumber</div>
            </div>
        </div>
    </div>
</form>
<div id="accordion" class="accordion-style1 panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine"> <i class="ace-icon fa fa-angle-down bigger-110"
                    data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> &nbsp;报名情况:&nbsp;已报<i>@creationProject.getMembers().size</i>人
                </a>
            </h2>
        </div>
        @if(creationProject.getCreatedBy==currentUser.getId){
        <div class="panel-collapse collapse in" id="collapseNine">
            <div class="panel-body">
                <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>学号</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @for(member <- creationProject.getMembers) {
                        <tr>
                            <td><a href="@cn.edu.sdu.sc.spepms.system.creation.controllers.project.routes.ProjectController.details(creationProject.getId)">@member.getName</a></td>
                            <td>@member.getStudentId</td>
                            <td>
                                <div class="hidden-sm hidden-xs action-buttons">
                                    <a class="red" href="@cn.edu.sdu.sc.spepms.system.creation.controllers.project.routes.ProjectController.delete(creationProject.getId)"> <i
                                        class="ace-icon fa fa-trash-o bigger-130"></i>
                                    </a>
                                </div>

                                <div class="hidden-md hidden-lg">
                                    <div class="inline position-relative">
                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                        </button>
                                        <li><a href="#" class="tooltip-error" data-rel="tooltip" title="Delete"> <span class="red"> <i
                                                    class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a></li>
                                    </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>}
    </div>
</div>
</div>
} {

<script>
    $('.btn-pass').click(function() {
        alert("操作成功");
    });
    $('#').click(function() {
        alert("操作成功");
    });
</script>

}
