@(currentUser: cn.edu.sdu.sc.spepms.system.common.models.User)

@layouts.basicLayout() {
<div class="profile-user-info profile-user-info-striped">
    <div class="profile-info-row">
        <div class="profile-info-name">姓名</div>

        <div class="profile-info-value">
            <span class="editable" id="username">@currentUser.getName</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name">性别</div>
        <div class="profile-info-value">
            <span class="editable" id="country">@currentUser.getGender</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name">籍贯</div>
        <div class="profile-info-value">
            <span class="editable" id="country">@currentUser.getHometown</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name">出生年月</div>
        <div class="profile-info-value">
            <span class="editable" id="country">@currentUser.getBirthday</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name">身份证号</div>
        <div class="profile-info-value">
            <span class="editable" id="country">@currentUser.getPersonalId</span>
        </div>
    </div>
</div>
} {

}
