@(currentUser: cn.edu.sdu.sc.spepms.system.common.models.User)

@layouts.basicLayout() {
<div class="profile-user-info profile-user-info-striped">
    <div class="profile-info-row">
        <div class="profile-info-name">Name</div>

        <div class="profile-info-value">
            <span class="editable" id="username">@currentUser.getName</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name">Gender</div>
        <div class="profile-info-value">
            <span class="editable" id="country">@currentUser.getGender</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name">Citizenship</div>
        <div class="profile-info-value">
            <span class="editable" id="country">@currentUser.getHometown</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name">Birth</div>
        <div class="profile-info-value">
            <span class="editable" id="country">@currentUser.getBirthday</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name">ID</div>
        <div class="profile-info-value">
            <span class="editable" id="country">@currentUser.getPersonalId</span>
        </div>
    </div>
</div>
} {

}
