@()

@layouts.basicLayout {

<div class="page-header">
    <h1>个人基本信息填写</h1>
</div>
}{
<form class="form-horizontal" method="post" role="form" action="@cn.edu.sdu.sc.spepms.system.common.controllers.routes.RegisterController.registerSave()">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">账户名</label>
        <div class="col-sm-9">
            <input class="input-normal" type="text" name="name"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">性别</label>
        <div class="col-sm-9">
            <select name="gender" class="col-xs-3 col-sm-2">
                <option>男</option>
                <option>女</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">籍贯</label>
        <div class="col-sm-9">
            <input class="input-normal" type="text" name="hometown"/>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">出生年月</label>
        <div class="col-sm-9">
            <input class="input-mask-date" type="text" name="birthday" placeholder='MM/DD/YYYY'/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">身份证号</label>
        <div class="col-sm-9">
            <input class="col-xs-5 col-sm-5" type="text" name="personalId"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">输入密码</label>
        <div class="col-sm-9">
            <input class="col-xs-5 col-sm-5" type="password" name="password"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">再次输入</label>
        <div class="col-sm-9">
            <input class="col-xs-5 col-sm-5" type="password" name="rePassword"/>
        </div>
    </div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="ace-icon fa fa-check bigger-110"></i>
                保存
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                重置
            </button>
        </div>
    </div>
</form>

} {
<script type="text/javascript">
    $('.input-mask-date').mask('99/99/9999');
</script>
}
