@() 

@layouts.basicLayout() {

<form method="post" role="form" action="@cn.edu.sdu.sc.spepms.system.common.controllers.routes.RegisterController.registerSave()">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">个人信息填写</h3>
    </div>
    <div class="panel-body">
        <div class="input-group">
            <span class="input-group-addon">姓名</span> <input type="text"
                    class="form-control" placeholder="Username" name="name">
            <span class="input-group-addon">性别</span> <input type="text"
                    class="form-control" name="gender">
            <span class="input-group-addon">籍贯</span> <input type="text"
                    class="form-control" placeholder="" name="hometown">
        </div>
        <div class="input-group">
                <span class="input-group-addon">出生年月</span> <input type="number"
                    class="form-control" placeholder="" name="birthday">
                <span class="input-group-addon">身份证号</span> <input type="text"
                    class="form-control" placeholder="" name="personalId">
        </div>
        <div class="input-group">
                <span class="input-group-addon">输入密码</span> <input type="password"
                    class="form-control" placeholder="" name="password">
                <span class="input-group-addon">密码确认</span> <input type="password"
                    class="form-control" placeholder="" name="password">
        </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">学籍信息填写</h3>
    </div>
    <div class="panel-body">
        <div class="input-group">
            <span class="input-group-addon">学生序号</span> <input type="number"
                    class="form-control" placeholder="" name="studentId">
            <span class="input-group-addon">专业</span> <input type="text"
                    class="form-control" name="major">
            <span class="input-group-addon">班级</span> <input type="text"
                    class="form-control" placeholder="" name="grade">
        </div>
        <div class="input-group">
                <span class="input-group-addon">联系方式</span> <input type="phone"
                    class="form-control" placeholder="" name="phone">
                <span class="input-group-addon">邮箱</span> <input type="text"
                    class="form-control" placeholder="" name="email">
                <span class="input-group-addon">身份</span> <input type="text"
                    class="form-control" placeholder="（归属实验室）" name="lab">
        </div>
    </div>
</div>

<button type="submit" class="btn btn-primary pull-right">注册</button>
</form>

} {

}
