@layouts.basicLayout() {
<div class="page-header">
    <h1>
        舜泰银行管理系统
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            欢迎使用
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
            <!-- #section:pages/pricing.large -->
            <div class="col-xs-6 col-sm-3 pricing-box">
                <div class="widget-box widget-color-red">
                    <div class="widget-header">
                        <h5 class="widget-title bigger lighter">基本信息</h5>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <ul class="list-unstyled spaced2" style="text-align:center">
                                <li>
                                    中外联合公司
                                </li>

                                <li>
                                    年存款突破2亿
                                </li>

                                <li>
                                    交通便利，坐落于大山坡
                                </li>

                                <li>
                                    银行用户已达3000万
                                </li>

                                <li>
                                    国家重点扶持企业
                                </li>

                                <li>
                                    全球金融界的摇篮
                                </li>
                            </ul>

                            <hr>
                            <div class="price">
                                力争世界五百强
                            </div>
                        </div>

                        <div>
                            <a href="#" class="btn btn-block btn-danger">
                                <span>舜泰银行</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 pricing-box">
                <div class="widget-box widget-color-orange">
                    <div class="widget-header">
                        <h5 class="widget-title bigger lighter">顾客业务</h5>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <ul class="list-unstyled spaced2" style="text-align:center">
                                <li>
                                    个人贷款
                                </li>

                                <li>
                                    个人理财
                                </li>

                                <li>
                                    出国金融
                                </li>

                                <li>
                                    存款账户
                                </li>

                                <li>
                                    缴纳费用
                                </li>

                                <li>
                                    资金代理
                                </li>
                            </ul>

                            <hr>
                            <div class="price">
                                顾客永远是我们的上帝
                            </div>
                        </div>

                        <div>
                            <a href="#" class="btn btn-block btn-warning">
                                <span>个人信息管理</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 pricing-box">
                <div class="widget-box widget-color-blue">
                    <div class="widget-header">
                        <h5 class="widget-title bigger lighter">金融市场</h5>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <ul class="list-unstyled spaced2" style="text-align:center">
                                <li>
                                    宏观经济研究
                                </li>

                                <li>
                                    外汇市场研究
                                </li>

                                <li>
                                    黄金市场研究
                                </li>

                                <li>
                                    债券市场研究
                                </li>

                                <li>
                                    中银分析
                                </li>

                                <li>
                                    理财产品
                                </li>
                            </ul>

                            <hr>
                            <div class="price">
                                金融界我们眼光独到
                            </div>
                        </div>

                        <div>
                            <a href="#" class="btn btn-block btn-primary">
                                <span>金融市场</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 pricing-box">
                <div class="widget-box widget-color-green">
                    <div class="widget-header">
                        <h5 class="widget-title bigger lighter">公司金融</h5>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <ul class="list-unstyled spaced2" style="text-align:center">
                                <li>
                                    公司融资服务
                                </li>

                                <li>
                                    贸易金融服务
                                </li>

                                <li>
                                    人民币结算服务
                                </li>

                                <li>
                                    全球公司金融
                                </li>

                                <li>
                                    养老金服务
                                </li>

                                <li>
                                    跨境人民币服务
                                </li>
                            </ul>

                            <hr>
                            <div class="price">
                                为中国提供更优质的服务
                            </div>
                        </div>

                        <div>
                            <a href="#" class="btn btn-block btn-success">
                                <i class="ace-icon fa fa-shopping-cart bigger-110"></i>
                                <span>企业市场</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /section:pages/pricing.large -->
        </div>
} {

}
