@()

@layouts.basicLayout {

<div class="page-header">
    <img src="@routes.Assets.at("images/title.png")">
</div>

} {

<div class="col-xs-7" style="margin-left:25px;">
	<div class="row">
		<div class="widget-box transparent">
			<div class="widget-header">
				<h4 class="widget-title lighter">课程推荐</h4>
			</div>
		
			<div class="widget-body">
				<div class="widget-main col-xs-4" style="padding:20px">
					<div class="row">
						<img src="@routes.Assets.at("images/course_cover.jpg")" style="width:200px">
					</div>
					
					<div class="row">
						<a href="#" class="blue bigger-150">数学文化</a>
					</div>
					
					<div class="row">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						</p>
					</div>
				</div>
				<div class="widget-main padding-6 col-xs-4" style="padding:20px">
					<div class="row">
						<img src="@routes.Assets.at("images/course_cover2.jpg")" style="width:200px">
					</div>
					
					<div class="row">
						<a href="#" class="blue bigger-150">美国文学</a>
					</div>
					
					<div class="row">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						</p>
					</div>
				</div>
				
				<div class="widget-main padding-6 col-xs-4" style="padding:20px">
					<div class="row">
						<img src="@routes.Assets.at("images/course_cover3.jpg")" style="width:200px">
					</div>
					
					<div class="row">
						<a href="#" class="blue bigger-150">几种常见的心理学</a>
					</div>
					
					<div class="row">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						</p>
					</div>
				</div>
				
				<div class="widget-main padding-6 col-xs-4" style="padding:20px">
					<div class="row">
						<img src="@routes.Assets.at("images/course_cover4.jpg")" style="width:200px">
					</div>
					
					<div class="row">
						<a href="#" class="blue bigger-150">spark+scala课程包</a>
					</div>
					
					<div class="row">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</p>
					</div>
				</div>
				
				<div class="widget-main padding-6 col-xs-4" style="padding:20px">
					<div class="row">
						<img src="@routes.Assets.at("images/course_cover4.jpg")" style="width:200px">
					</div>
					
					<div class="row">
						<a href="#" class="blue bigger-150">spark+scala课程包</a>
					</div>
					
					<div class="row">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</p>
					</div>
				</div>
				
				<div class="widget-main padding-6 col-xs-4" style="padding:20px">
					<div class="row">
						<img src="@routes.Assets.at("images/course_cover4.jpg")" style="width:200px">
					</div>
					
					<div class="row">
						<a href="#" class="blue bigger-150">spark+scala课程包</a>
					</div>
					
					<div class="row">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="widget-box transparent ui-sortable-handle">
			<div class="widget-header">
				<h4 class="widget-title lighter">课程排行</h4>
				
				<div class="widget-toolbar no-border">
					<ul class="nav nav-tabs" id="myTab2">
						<li class="active">
							<a data-toggle="tab" href="#all">全部</a>
						</li>
						
						<li class="">
							<a data-toggle="tab" href="#tab2">数学</a>
						</li>
						
						<li class="">
							<a data-toggle="tab" href="#tab3">历史</a>
						</li>
						
						<li class="">
							<a data-toggle="tab" href="#tab4">文学</a>
						</li>
						
						<li class="">
							<a data-toggle="tab" href="#tab5">IT</a>
						</li>
						
						<li class="">
							<a data-toggle="tab" href="#tab6">心理</a>
						</li>
						
						<li class="">
							<a data-toggle="tab" href="#tab7">法律</a>
						</li>
					</ul>
				</div>
			</div>
		
			<div class="widget-body">
				<div class="widget-main padding-12 no-padding-left no-padding-right">
					<div class="tab-content padding-4">
						<div id="all" class="tab-pane active">
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">数学文化</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							<hr>
							
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover2.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">美国文学</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							<hr>
							
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover3.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">几种常见的心理学</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							<hr>
							
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover4.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">spark+scala课程包</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							
						</div>
					
						<div id="tab2" class="tab-pane">
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">数学文化</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							<hr>
							
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover2.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">几何代数</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							<hr>
							
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover3.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">微积分</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							<hr>
							
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover4.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">微积分</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							
						</div>
						
						<div id="tab3" class="tab-pane ">
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">建筑史</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							<hr>
							
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover2.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">三国史</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							<hr>
							
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover3.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">西汉史</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							<hr>
							
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover4.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">spark+scala课程包</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>							
						</div>
						
						<div id="tab4" class="tab-pane ">
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">但丁《神曲》解读</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							<hr>
							
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover2.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">歌德《浮士德》解读</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							<hr>
							
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover3.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">美国文学</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							<hr>
							
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover4.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">spark+scala课程包</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>							
						</div>
						
						<div id="tab5" class="tab-pane ">
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">微信公众平台的开发入门</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							<hr>
							
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover2.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">安卓5.0新特征详解</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							<hr>
							
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover3.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">ios开发技术</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							<hr>
							
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover4.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">spark+scala课程包</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							
						</div>
						
						<div id="tab6" class="tab-pane ">
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">心理学史</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							<hr>
							
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover2.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">心理学的研究</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							<hr>
							
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover3.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">几种常见的心理学</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							<hr>
							
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover4.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">spark+scala课程包</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>							
						</div>
						
						<div id="tab7" class="tab-pane ">
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">法的本质和作用</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							<hr>
							
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover2.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">法的体系</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							<hr>
							
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover3.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">法律的历史发展</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							<hr>
							
							<div class="row">
								<div class="col-xs-3">
									<img src="@routes.Assets.at("images/course_cover4.jpg")" style="width:150px; padding-left:10px;">
								</div>
								<div class="col-xs-9">
									<a href="#" class="bigger-150">法律的历史发展</a>
									<span class="grey pull-right">1234人已学习</span>									
									<p>
										<br>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>								
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="col-xs-4" style="margin-left:40px;">

	<div class="row" style="padding:10px;">
		<form class="form-search">
			<span class="input-icon align-middle">
				<i class="ace-icon fa fa-search"></i>

				<input type="text" class="search-query" size="30">
			</span>
			
			<div class="btn-group">
				<button data-toggle="dropdown" class="btn btn-info btn-sm no-radius dropdown-toggle" style="height:34px;">
					搜索
					<span class="ace-icon fa fa-caret-down icon-on-right"></span>
				</button>
	
				<ul class="dropdown-menu dropdown-info dropdown-menu-right">
					<li>
						<a href="#">搜课程</a>
					</li>
	
					<li>
						<a href="#">搜帖子</a>
					</li>
				</ul>
			</div>
		</form>
	</div>
	
	<div class="input-group">
		<input type="text" class="form-control" name="message">
		<span class="input-group-btn">
			<div class="btn-group">
				<button data-toggle="dropdown" class="btn btn-info btn-sm no-radius dropdown-toggle" style="height:34px;">
					搜索
					<span class="ace-icon fa fa-caret-down icon-on-right"></span>
				</button>
	
				<ul class="dropdown-menu dropdown-info dropdown-menu-right">
					<li>
						<a href="#">搜课程</a>
					</li>
	
					<li>
						<a href="#">搜帖子</a>
					</li>
				</ul>
			</div>
		</span>
	</div>
	
	<div class="widget-box transparent" style="padding-top:10px;">
		<div class="widget-header">
			<h4 class="widget-title lighter">最新资讯</h4>
		</div>
	
		<div class="widget-body">
			<div class="widget-main padding-6">				
				<a href="#" class="bigger-110"><font color="#000000">微信公众平台的开发入门开课啦</font></a>
				<span class="grey pull-right">2015-07-10</span>												
			</div>	
			
			<div class="widget-main padding-6">				
				<a href="#" class="bigger-110"><font color="#000000">安卓5.0新特征详解</font></a>
				<span class="grey pull-right">2015-07-10</span>												
			</div>
			
			<div class="widget-main padding-6">				
				<a href="#" class="bigger-110"><font color="#000000">ios开发技术</font></a>
				<span class="grey pull-right">2015-07-10</span>												
			</div>
			
			<div class="widget-main padding-6">				
				<a href="#" class="bigger-110"><font color="#000000">spark+scala课程包</font></a>
				<span class="grey pull-right">2015-07-10</span>												
			</div>			
		</div>
	</div>
	
	<div class="widget-box transparent" style="padding-top:10px;">
		<div class="widget-header">
			<h4 class="widget-title lighter">热门帖子</h4>
		</div>
	
		<div class="widget-body">
			<div class="widget-main padding-6">				
				<a href="#" class="bigger-110"><font color="#000000">微信公众平台的开发入门课程交流贴</font></a>
				<span class="grey pull-right">234人回复</span>												
			</div>	
			
			<div class="widget-main padding-6">				
				<a href="#" class="bigger-110"><font color="#000000">安卓5.0新特征详解</font></a>
				<span class="grey pull-right">234人回复</span>												
			</div>
			
			<div class="widget-main padding-6">				
				<a href="#" class="bigger-110"><font color="#000000">ios开发技术</font></a>
				<span class="grey pull-right">234人回复</span>												
			</div>
			
			<div class="widget-main padding-6">				
				<a href="#" class="bigger-110"><font color="#000000">spark+scala课程包</font></a>
				<span class="grey pull-right">234人回复</span>												
			</div>			
		</div>
	</div>

</div>

} {
<script>

</script>

}