@(title: String, head: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("libs/bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("libs/jquery/jquery-1.11.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("libs/bootstrap/js/bootstrap.min.js")"></script>
        
        @head
        
        <script>
        
        $(document).ready(function() {
            $('#foo').click(function() {
            	
            });
        });
        
        </script>
    </head>
    <body>
        @content
    </body>
</html>
