@()

@layouts.basicLayout {

<div class="page-header">
    <h1>
	学习交流专贴
	<small>
		<i class="ace-icon fa fa-angle-double-right"></i>
		详细
	</small>
</h1>
</div>

} {

<div class="row">
	<div class="col-xs-10">

		<!-- #section:pages/timeline -->
		<div class="timeline-items">
			<!-- #section:pages/timeline.item -->

			<div class="timeline-item clearfix">
				<!-- /section:pages/timeline.info -->
				<div class="widget-box transparent">
					<div class="widget-header widget-header-small">
						<h4 class="widget-title smaller">
							<font class="grey" size="-2">楼主：</font>
							<a href="#" class="blue" title="发布者">Susan</a>
						</h4>

						<span class="widget-toolbar no-border">
							<i class="ace-icon fa fa-clock-o bigger-110"></i>
							2015-7-6 16:22
						</span>

						<span class="widget-toolbar">
							<a href="#" data-action="collapse">
								<i class="ace-icon fa fa-chevron-up"></i>
							</a>
						</span>
					</div>

					<div class="widget-body" style="display: block;">
						<div class="widget-main">
							<p>
								Anim pariatur cliche reprehenderit, enim eiusmod
								accusamus terry richardson ad squid …
								Anim pariatur cliche reprehenderit, enim eiusmod
								accusamus terry richardson ad squid …
								Anim pariatur cliche reprehenderit, enim eiusmod
								accusamus terry richardson ad squid …
							</p>
							<div class="widget-toolbox clearfix">
								<!-- #section:custom/extra.action-buttons -->
								<div class="pull-right action-buttons">									

									<a href="#" title="支持">
										<i class="ace-icon fa fa-check green bigger-130"></i>
									</a>
									<span>(120)</span>
									&nbsp;&nbsp;
									
									<a href="#" title="反对">
										<i class="ace-icon fa fa-times red bigger-125"></i>
									</a>
									<span>(80)</span>
									&nbsp;&nbsp;
									
									<a class="btn  btn-white btn-info btn-xs" href="#modal-wizard">
									<i class="ace-icon fa fa-pencil-square-o"></i>
									评论
									</a>
								</div>

								<!-- /section:custom/extra.action-buttons -->
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="timeline-item clearfix">
				<!-- /section:pages/timeline.info -->
				<div class="widget-box transparent">
					<div class="widget-header widget-header-small">
						<h4 class="widget-title smaller">
							<font class="grey" size="-2">1楼：</font>
							<a href="#" class="blue" title="发布者">Susan</a>
						</h4>

						<span class="widget-toolbar no-border">
							<i class="ace-icon fa fa-clock-o bigger-110"></i>
							2015-7-6 16:22
						</span>

						<span class="widget-toolbar">
							<a href="#" data-action="collapse">
								<i class="ace-icon fa fa-chevron-up"></i>
							</a>
						</span>
					</div>

					<div class="widget-body" style="display: block;">
						<div class="widget-main">
							<p>
								Anim pariatur cliche reprehenderit, enim eiusmod
								accusamus terry richardson ad squid …
								Anim pariatur cliche reprehenderit, enim eiusmod
								accusamus terry richardson ad squid …
								Anim pariatur cliche reprehenderit, enim eiusmod
								accusamus terry richardson ad squid …
							</p>
							<div class="widget-toolbox clearfix">
								<!-- #section:custom/extra.action-buttons -->
								<div class="pull-right action-buttons">									

									<a href="#" title="支持">
										<i class="ace-icon fa fa-check green bigger-130"></i>
									</a>
									<span>(120)</span>
									&nbsp;&nbsp;
									
									<a href="#" title="反对">
										<i class="ace-icon fa fa-times red bigger-125"></i>
									</a>
									<span>(80)</span>
									&nbsp;&nbsp;
									
									<button class="btn btn-white btn-info btn-xs" onclick="addComment()">
									<i class="ace-icon fa fa-pencil-square-o"></i>
									评论
									</button>
								</div>

								<!-- /section:custom/extra.action-buttons -->
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="timeline-item clearfix">
				<!-- /section:pages/timeline.info -->
				<div class="widget-box transparent">
					<div class="widget-header widget-header-small">
						<h4 class="widget-title smaller">
							<font class="grey" size="-2">2楼：</font>
							<a href="#" class="blue" title="发布者">Susan</a>
						</h4>

						<span class="widget-toolbar no-border">
							<i class="ace-icon fa fa-clock-o bigger-110"></i>
							2015-7-6 16:22
						</span>

						<span class="widget-toolbar">
							<a href="#" data-action="collapse">
								<i class="ace-icon fa fa-chevron-up"></i>
							</a>
						</span>
					</div>

					<div class="widget-body" style="display: block;">
						<div class="widget-main">
							<p>
								Anim pariatur cliche reprehenderit, enim eiusmod
								accusamus terry richardson ad squid …
								Anim pariatur cliche reprehenderit, enim eiusmod
								accusamus terry richardson ad squid …
								Anim pariatur cliche reprehenderit, enim eiusmod
								accusamus terry richardson ad squid …
							</p>
							<div class="widget-toolbox clearfix">
								<!-- #section:custom/extra.action-buttons -->
								<div class="pull-right action-buttons">									

									<a href="#" title="支持">
										<i class="ace-icon fa fa-check green bigger-130"></i>
									</a>
									<span>(120)</span>
									&nbsp;&nbsp;
									
									<a href="#" title="反对">
										<i class="ace-icon fa fa-times red bigger-125"></i>
									</a>
									<span>(80)</span>
									&nbsp;&nbsp;
									
									<button class="btn btn-white btn-info btn-xs" onclick="addComment()">
									<i class="ace-icon fa fa-pencil-square-o"></i>
									评论
									</button>
								</div>

								<!-- /section:custom/extra.action-buttons -->
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="timeline-item clearfix">
				<!-- /section:pages/timeline.info -->
				<div class="widget-box transparent">

					<div class="message-footer clearfix">
						<div class="pull-left"> 151 messages total </div>

						<div class="pull-right">
							<div class="inline middle"> page 1 of 16 </div>

							&nbsp; &nbsp;
							<ul class="pagination middle">
								<li class="disabled">
									<span>
										<i class="ace-icon fa fa-step-backward middle"></i>
									</span>
								</li>

								<li class="disabled">
									<span>
										<i class="ace-icon fa fa-caret-left bigger-140 middle"></i>
									</span>
								</li>

								<li>
									<span>
										<input value="1" maxlength="3" type="text">
									</span>
								</li>

								<li>
									<a href="#">
										<i class="ace-icon fa fa-caret-right bigger-140 middle"></i>
									</a>
								</li>

								<li>
									<a href="#">
										<i class="ace-icon fa fa-step-forward middle"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div><!-- /.timeline-items -->
	</div><!-- /.col -->
</div>

<div id="modal-wizard" class="modal in" aria-hidden="false" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">			

			<div class="modal-body step-content" id="modal-step-contents">
				<div>
					<label for="form-field-8">评论内容：</label>

					<textarea class="form-control" id="form-field-8"></textarea>
				</div>

			</div>

			<div class="modal-footer wizard-actions">
				<button class="btn btn-success btn-sm btn-next" data-last="Finish">
					发布
					<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
				</button>

				<button class="btn btn-danger btn-sm pull-left" data-dismiss="modal" onclick="cancelComment()">
					<i class="ace-icon fa fa-times"></i>
					取消
				</button>
			</div>
		</div>
	</div>
</div>

} {
<script>

function addComment(){
	document.getElementById("mask").style.display = "block";
	document.getElementById("modal-wizard").style.display = "block";
}

function cancelComment(){
	document.getElementById("mask").style.display = "none";
	document.getElementById("modal-wizard").style.display = "none";
}

}