@() 
@layouts.basicLayout {

<!-- Place inside the <head> of your HTML -->
<script type="text/javascript" src="@routes.Assets.at("libs/tinymce/tinymce.min.js")"></script>
<script type="text/javascript">
    tinymce.init({
        selector : "textarea",
        language : "zh_CN"
    });
</script>

} {
<div class="page-header">
    <h1>项目基本信息填写</h1>
</div>

<!-- Place this in the body of the page content -->
<form method="post" role="form">
    <div class="form-group">

        <label for="articleContent"><h2>项目名称</h2></label> <input
            class="form-control" type="text" id="name" placeholder="请输入项目名称">
    </div>
    <div class="form-group">

        <label for="articleType"><h2>项目类别</h2></label> <select
            name="articleType" class="form-control" id="articleType">
            <option>竞赛</option>
            <option>教师科研</option>
            <option>个人兴趣</option>
            <option>外部合作</option>
        </select>
        
        <div class="form-group">
            <label for="articleContent"><h2>性质</h2></label> <select
                name="articleType" class="form-control" id="articleType">
                <option>有报酬</option>
                <option>无报酬</option>
            </select>
        </div>
        
        <label for="articleContent"><h2>报酬形式及额度</h2></label> <select
            name="articleType" class="form-control" id="articleType">
            <option>现金</option>
            <option>网上转帐</option>
            <option>其他</option>
            </select><input
            class="form-control" type="number" id="number" placeholder="请输入现金额度">
        

        <label for="articleContent"><h2>项目需求介绍</h2></label>
        <textarea id="articleContent"></textarea>

        <label for="articleContent"><h2>时间范围</h2></label>
        <textarea id="articleContent"></textarea>

        <label for="articleContent"><h2>联系咨询方式</h2></label>
        <textarea id="articleContent"></textarea>

        <label for="articleContent"><h2>人数限制</h2></label> <input
            class="form-control" type="number" id="number" placeholder="请输入项目人数">
    </div>


    <button type="submit" class="btn btn-primary pull-right">提交</button>
</form>

}
