@()

@layouts.basicLayout {

} {

<div class="btn-group pull-right">
  <button type="button" class="btn btn-default btn-lg ">
  	 <span class="glyphicon glyphicon-ok"></span>审核通过
  </button>
  <button type="button" class="btn btn-default btn-lg ">
     <span class="glyphicon glyphicon-remove"></span>审核失败
  </button>
  <button type="button" class="btn btn-default btn-lg ">
     <span class="glyphicon glyphicon-heart"></span>学生报名
  </button>
</div>


<div class="page-header">
	<h1>项目概观</h1>
</div>

<!-- Place this in the body of the page content -->
<form method="post" role="form">
	
	<label for="articleContent"><h2>项目名称</h2></label>
	<ul>
		<h3>医院门诊管理系统</h3>
	</ul>
	<label for="articleType"><h2>项目类别</h2></label>
	<ul>
		<h3>Application Software</h3>
	</ul>

	<label for="articleContent"><h2>项目细节</h2></label>
	<ul>
		<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			医院信息系统（HIS）是一个综合性的信息系统，开发医院信息系统是一项艰巨的系统工程，它涉及医院管理科学、医院各部门业务管理、医学科学技术、计算机技术、网络通讯技术、信息管理学等多学科的范畴。
			医院门诊管理系统以病人的各项诊疗活动为基础，实现挂号、诊断、收费、取药、治疗等一系列门诊业务。系统记录门诊病人的医嘱信息、用药信息、检验信息、费用信息，使得医生的信息来源真实有效，提高了临床与护理的工作效率，真正体现以病人为中心的思想。
		</h3>
	</ul>

	<label for="articleContent"><h2>基本信息</h2></label>
	<ul>
		<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			软件操作简便、快捷，有效地减轻医院门诊工作人员的工作量，减少病人排队等候的时间。
			界面设计风格统一，便于操作员快速掌握系统操作方法；用户界面简单明了，符合业务办理流程，具有人性化特点。
			软件设计结构模块化、程序结构化、数据格式标准化、代码统一化，各种文档资料规范化。</h3>
	</ul>

	<label for="articleContent"><h2>项目背景</h2></label>
	<ul>
		<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			软件操作简便、快捷，有效地减轻医院门诊工作人员的工作量，减少病人排队等候的时间。
			界面设计风格统一，便于操作员快速掌握系统操作方法；用户界面简单明了，符合业务办理流程，具有人性化特点。
			软件设计结构模块化、程序结构化、数据格式标准化、代码统一化，各种文档资料规范化。</h3>
	</ul>

	<label for="articleContent"><h2>项目目标</h2></label>
	<ul>
		<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			软件操作简便、快捷，有效地减轻医院门诊工作人员的工作量，减少病人排队等候的时间。
			界面设计风格统一，便于操作员快速掌握系统操作方法；用户界面简单明了，符合业务办理流程，具有人性化特点。
			软件设计结构模块化、程序结构化、数据格式标准化、代码统一化，各种文档资料规范化。</h3>
	</ul>

	<label for="articleContent"><h2>系统功能需求</h2></label> <label
		for="articleContent"><h2>技术方案</h2></label>
	<ul>
		<h3>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			采用符合J2EE技术规范的多层构架，通过网络系统支持医院门诊收费处、医生站、护士站、药房等各科室用户登录使用，客户端使用浏览器。整个系统运行于应用服务器之上，利用应用中间件支撑系统的运行，数据库管理系统使用Oracle，应用中间件使用Tomcat。
			<br>中心端： <br>&nbsp;&nbsp;&nbsp;系统架构：J2EE <br>&nbsp;&nbsp;&nbsp;开发工具：Eclipse
			<br>&nbsp;&nbsp;&nbsp;数据库：Oracle <br>&nbsp;&nbsp;&nbsp;开发技术：GWT、java、Hibernate、Spring、sql
			<br>&nbsp;&nbsp;&nbsp;中间件：Tomcat 、jdk1.6 <br>客户端： <br>&nbsp;&nbsp;&nbsp;开发工具：Eclipse
			<br>&nbsp;&nbsp;&nbsp;数据库：Oracle 开发技术：java、sql、Hibernate
		</h3>
	</ul>

	<label for="articleContent"><h2>项目环境要求</h2></label>
	<ul>
		<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			软件操作简便、快捷，有效地减轻医院门诊工作人员的工作量，减少病人排队等候的时间。
			界面设计风格统一，便于操作员快速掌握系统操作方法；用户界面简单明了，符合业务办理流程，具有人性化特点。
			软件设计结构模块化、程序结构化、数据格式标准化、代码统一化，各种文档资料规范化。</h3>
	</ul>
	<label for="articleContent"><h2>项目计划</h2></label>
	<ul>
		<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			软件操作简便、快捷，有效地减轻医院门诊工作人员的工作量，减少病人排队等候的时间。
			界面设计风格统一，便于操作员快速掌握系统操作方法；用户界面简单明了，符合业务办理流程，具有人性化特点。
			软件设计结构模块化、程序结构化、数据格式标准化、代码统一化，各种文档资料规范化。</h3>
	</ul>
	<label for="articleContent"><h2>人员考核评价标准</h2></label>
	<ul>
		<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			软件操作简便、快捷，有效地减轻医院门诊工作人员的工作量，减少病人排队等候的时间。
			界面设计风格统一，便于操作员快速掌握系统操作方法；用户界面简单明了，符合业务办理流程，具有人性化特点。
			软件设计结构模块化、程序结构化、数据格式标准化、代码统一化，各种文档资料规范化。</h3>
	</ul>
	<label for="articleContent"><h2>报考人数限制&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;50</h2></label>

</form>

} {

}
