@(user: cn.edu.sdu.sc.spepms.system.common.models.User)

@layouts.basicLayout() {

<form class="form-horizontal" method="post" role="form" action="@controllers.routes.Application.saveArticle()">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="name">个人主页</label>
        <div class="col-sm-9">
            <input name="name" class="col-xs-10 col-sm-5"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="articleType">账户名</label>@user.getName()
        <div class="col-sm-9">
            <p>xingming1</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="words">存款金额</label>@user.getAll()
        <div calss="col-sm-9">
        </div>
        <button>存款明细</button>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="words">近期存入</label>@user.getReceive()
        <div calss="col-sm-9">
        </div>
        <button>存款</button>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="words">近期取出</label>@user.getGive()
        <div calss="col-sm-9">
        </div>
        <button>取款</button>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="words">转帐汇款</label>
        <div class="col-sm-9">
            <select name="trans" class="col-xs-10 col-sm-5" id="trans">
                <option>手机充值</option>
                <option>娱乐购物</option>
            </select>
        </div>
        <button>汇款</button>
    </div>

</form>
} {

}
