@()

@layouts.basicLayout {

<div class="page-header">
    <h1>实训中心课题内容填写</h1>
</div>

} {

<!-- Place this in the body of the page content -->
<form class="form-horizontal" method="post" role="form" action="@cn.edu.sdu.sc.spepms.system.practice.controllers.routes.ProjectsController.save()">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="CreationProject">课题名称</label>
        <div class="col-sm-9">
            <input class="col-xs-10 col-sm-5" type="text" name="name" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="CreationProject">实训项目背景</label>
        <div class="col-sm-9">
            <textarea class="col-xs-10 col-sm-5" name="background"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="CreationProject">实训目标</label>
        <div class="col-sm-9">
            <textarea class="col-xs-10 col-sm-5" name="goal"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="CreationProject">实训环境要求</label>
        <div class="col-sm-9">
            <textarea class="col-xs-10 col-sm-5" name="enviroment"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="CreationProject">技术方案</label>
        <div class="col-sm-9">
            <textarea class="col-xs-10 col-sm-5" name="technology"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="CreationProject">实训计划</label>
        <div class="col-sm-9">
            <textarea class="col-xs-10 col-sm-5" name="plan"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="CreationProject">系统功能</label>
        <div class="col-sm-9">
            <textarea class="col-xs-10 col-sm-5" name="function"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="CreationProject">实训人员考核评价标准说明</label>
        <div class="col-sm-9">
            <textarea class="col-xs-10 col-sm-5" name="standard"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="CreationProject">联系咨询方式</label>
        <div class="col-sm-9">
            <input class="col-xs-10 col-sm-5" name="contactInfo"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="CreationProject">人数上限</label>
        <div class="col-sm-9">
            <input class="col-xs-10 col-sm-5" type="number" name="number">
        </div>
    </div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9 ">
            <button class="btn btn-info" type="submit">
                <i class="ace-icon fa fa-check bigger-110"></i> 保存
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="ace-icon fa fa-undo bigger-110"></i> 重置
            </button>
        </div>
    </div>
</form>

} {
<script type="text/javascript">

</script>
}
