@(practiceProject: cn.edu.sdu.sc.spepms.system.practice.models.PracticeProject, currentUser: cn.edu.sdu.sc.spepms.system.common.models.User)

@import cn.edu.sdu.sc.spepms.system.practice.models.PracticeProject

@layouts.basicLayout {

<form class="form-horizontal" method="post" role="form">
<div class="btn-group pull-right">
@if(practiceProject.getStatus==PracticeProject.Status.UNDER_APPROVAL){
    <button type="button" class="btn btn-primary btn-lg btn-pass"
        href="@cn.edu.sdu.sc.spepms.system.practice.controllers.routes.ProjectsController.approve(practiceProject.getId)">
        <span class="glyphicon glyphicon-ok"></span>审核通过
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-unpass"
        href="@cn.edu.sdu.sc.spepms.system.practice.controllers.routes.ProjectsController.reject(practiceProject.getId)">
        <span class="glyphicon glyphicon-remove"></span>审核失败
    </button>
    }
    @if(practiceProject.getStatus==PracticeProject.Status.NEW || practiceProject.getStatus==PracticeProject.Status.KILLED){
    <button type="button" class="btn btn-primary btn-lg btn-submit"
        href="@cn.edu.sdu.sc.spepms.system.practice.controllers.routes.ProjectsController.submit(practiceProject.getId)">
        <span class="glyphicon glyphicon-heart"></span>提交审核
    </button>
    }
    @if(!practiceProject.getMembers().contains(currentUser)){
        @if(practiceProject.getCurrentNumber < practiceProject.getNumber){
    <button type="button" class="btn btn-primary btn-lg btn-join"
        href="@cn.edu.sdu.sc.spepms.system.practice.controllers.routes.ProjectsController.join(practiceProject.getId)">
        <span class="glyphicon glyphicon-heart"></span>接受挑战
    </button>
        }
    
    }else{
    <button type="button" class="btn btn-primary btn-lg btn-cancelJoin"
        href="@cn.edu.sdu.sc.spepms.system.practice.controllers.routes.ProjectsController.leave(practiceProject.getId,currentUser.getId)">
        <span class="glyphicon glyphicon-heart"></span>黯然离去
    </button>
    }
    
</div>
</form>
<div class="page-header">
    <h1>题目详情</h1>
</div>

} {
<form method="post" role="form">
    <p class="alert alert-info">课题名称</p>
    <h3>@practiceProject.getName</h3>
    <p class="alert alert-info">实训项目背景</p>
    <h3>@practiceProject.getBackground</h3>
    <p class="alert alert-info">实训目标</p>
    <h3>@practiceProject.getGoal</h3>
    <p class="alert alert-info">系统功能</p>
    <h3>@practiceProject.getFunction</h3>
    <p class="alert alert-info">实训环境要求</p>
    <h3>@practiceProject.getEnviroment</h3>
    <p class="alert alert-info">技术方案</p>
    <h3>@practiceProject.getTechnology</h3>
    <p class="alert alert-info">实训计划</p>
    <h3>@practiceProject.getPlan</h3>
    <p class="alert alert-info">实训人员考核评价标准说明</p>
    <h3>@practiceProject.getStandard</h3>
    <p class="alert alert-info">联系咨询方式</p>
    <h3>@practiceProject.getContactInfo</h3>
    <p class="alert alert-info">人数上限</p>
    <h3>@practiceProject.getNumber</h3>
</form>
<div id="accordion" class="accordion-style1 panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine"> <i class="ace-icon fa fa-angle-down bigger-110"
                    data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> &nbsp;报名情况:&nbsp;已报<i>@practiceProject.getMembers().size</i>人
                </a>
            </h2>
        </div>
        @if(practiceProject.getCreatedBy==currentUser.getId){
        <div class="panel-collapse collapse in" id="collapseNine">
            <div class="panel-body">
                <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>学号</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @for(member <- practiceProject.getMembers) {
                        <tr>
                            <td><a href="@cn.edu.sdu.sc.spepms.system.practice.controllers.routes.ProjectsController.view(practiceProject.getId)"></a></td>
                            <td></td>
                            <td>
                                <div class="hidden-sm hidden-xs action-buttons">
                                    <a class="red btn-cancelJoin" href="@cn.edu.sdu.sc.spepms.system.practice.controllers.routes.ProjectsController.leave(practiceProject.getId,member.getId)"> <i
                                        class="ace-icon fa fa-trash-o bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>}
    </div>
</div>
} {

<script>
$('.btn-pass').click(function() {
        if(!confirm("你确认要通过审核吗？")) {
            return false;
        }

        var url = $(this).attr('href');
        console.log("ajax - " + url);
        $.post(url, function (data) {
            console.log("返回结果："+data);
            alert("操作成功");
            location.reload()
        });
        return false;
    });

$('.btn-unpass').click(function() {
        if(!confirm("你确认审核不通过吗？")) {
            return false;
        }

        var url = $(this).attr('href');
        console.log("ajax - " + url);
        $.post(url, function (data) {
            console.log("返回结果："+data);
            alert("操作成功");
            location.reload()
        });
        return false;
    });

    $('.btn-submit').click(function() {
        if(!confirm("你确认要提交审核吗？")) {
            return false;
        }

        var url = $(this).attr('href');
        console.log("ajax - " + url);
        $.post(url, function (data) {
            console.log("返回结果："+data);
            alert("操作成功");
            location.reload()
        });
        return false;
    });

    $('.btn-join').click(function() {
        if(!confirm("你确认要参加该项目吗？")) {
            return false;
        }

        var url = $(this).attr('href');
        console.log("ajax - " + url);
        $.post(url, function (data) {
            console.log("返回结果："+data);
            alert("操作成功");
            location.reload()
        });
        return false;
    });

    $('.btn-cancelJoin').click(function() {
        if(!confirm("你确认要取消参加该项目吗？")) {
            return false;
        }

        var url = $(this).attr('href');
        console.log("ajax - " + url);
        $.post(url, function (data) {
            console.log("返回结果："+data);
            alert("操作成功");
            location.reload()
        });
        return false;
    });

</script>

}
